h1 {
	text-align: center;
	font-size: 30px;
}

body{
	text-align: center;
	font-size: 16px;
	background-color: #94d4e0;
}
#sidebar {
	position: fixed;
	right: 10vw;
	top: 40vh;
}

#poem{
	font-size: 25px;
	font-family: 'Roboto Slab', serif;
}

#content {
	font-size: 30px;
	font-family: 'Roboto Slab', serif;
}

#refresh {
	cursor: pointer;
}